html {
    font-size: 16px;
}
#piano {
    font-size: 0;
    display: block;
    width: 37rem;
    border: 1px solid #efe;
    margin: 30px auto;
    text-align: center;
}
.keyW, .keyB {
    box-size: border-box;
    display: inline-block;
    position: relative;
    margin-left: -1px;
}

.whiteKey {
    box-size: border-box;
    width: 4rem;
    height: 12rem;
    border: 1px solid #000;
    border-radius: 0.3rem;
    background-color: #fff;:
}

.blackKey {
    box-size: border-box;
    display: block;
    position: absolute;
    width: 2.5rem;
    height: 8rem;
    background-color: #000;
    border: 1px solid #fff;
    border-radius: 0 0 0.3rem 0.3rem;
    margin-top: -1rem ;
    margin-left: -1.25rem;

    z-index: 10;
}
